*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
h1{
    text-align: center;
}

p{
     font-size: 1.25em;
     font-family: avenir
}

div{
}
ul {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100px;
    height: 100px;
}
li{
    margin-top: 10px;
    display: inline-block;
    font-family: "Trebuchet MS";
    font-size: 20px;
}
li a{
    text-decoration: none;
    text-align: center;
    display: block;
    width: 100px;
    height: 100px;
    background-image: url("../img/P01_option_trans.gif");
    color: black;
    padding-top: 30px;
    padding-right: 10px;
}
li a:active{
    text-decoration: none;
    color: black;
    background-image: url("../img/P01_option-selected_trans.gif");
}
li:link {
    text-align: center;
    width: 50px;
}
html{
    height: 100%;
}
body{
    height: 100%;
    margin: 0px;
    overflow: hidden;
}
body.background {
    background-color: azure;
    background: url("../img/websiteBackground2.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color:white;
}
#index{
    background: url("../img/websiteBackground.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#index{
    color: white;
}

.navButton {
     text-align: center;
     width: 20em;
     animation: blinker 2s ease-in-out infinite;
}

#menu {
     position: absolute;
     left: 37.5%;
     right: 37.5%;
    bottom: 20em;
    padding: 0;
    width: 100em;
}

#menu img {
     width: 100%;
}

#nav_text{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
}
.container{
    padding-left: 10px;
    width: 100%;
    height: 60px;
    background-color: black;
}

#foot_01{
    text-align: center;
}
.wrapper{
    min-height: 100%;
    height:100%;
    margin: 0px;
}
.glowlime-image{
    height: 40px;
    margin: 10px;
}
table ul li{
    margin: 0px;
}
.teamContainer{
    height: 600px;
    overflow-y: scroll;
    margin-left: 100px;
    width: 900px;
}

/* Source: http://stackoverflow.com/questions/16344354/how-to-make-blinking-flashing-text-with-css3 */
.blink_me {
  animation: blinker 2.5s ease-in-out infinite;
}

@keyframes blinker {
  50% { opacity: 0.8; }
}

#abstract {
     background-image: url("../img/P01_Chat-background.png");
     margin: auto;
     color: black;
     width: 35em;
     padding: 1.5em;
     border-radius: 2em;
     box-shadow: 5px 5px 5px lightyellow;
}

#teamList ul li a{
    background-image: none;
    height: 25px;
    width:150px;
    text-align: left;
    margin: 0px;
    padding: 0px;
    color: white;
}
#teamList ul li p{
    font-size: 1em;
    font-family: serif;
    height: 25px;
    width:150px;
    text-align: left;
    margin: 0px;
    padding: 0px;
}
#teamList td {
    padding: 0px;
    margin: 0px;
    border: none;
    vertical-align: top;
}
#teamList td h2{
    padding-top: 10px;
}
#teamList h2{
    padding: 0px;
    margin: 0px;
    margin-top: -10px;
}
#teamList p{
    padding: 0px;
    margin: 0px;
    word-break: normal;
}
#teamList a{
    padding: 0px;
    margin: 0px;
}
#teamlist img{
    /*width: 200px;
    height: 200px;*/
}
table{
    border-collapse: collapse;
}
td{
    min-height: 200px;
    min-width: 200px;
}
tr{
    height: 200px;
}
div p{
    margin-left: 100px;
    margin-right: 100px;
}

#index #menu li a{
    background-image: none;
    padding: 0px;
    border-radius: 10px;
}

#team a{
    width: 100%;
    height: 100%;
}

#art a{
    width:100%;
    height:100%;
}

#about a{
    width:100%;
    height:100%;
}

#contact a{
    width:100%;
    height:100%;
}
.modal{
    display: none;/*none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    margin-top: 120px;
    margin-left: 60px;
    height: 80%;
    overflow: auto; /* Enable scroll if needed */
}
.modalContent{
    display: block;
    height: 100%;
    margin-right: 120px;
    background-color: lightblue;
    opacity: .98;
    border-radius: 10px;
}
.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
    font-family: Arial;
    padding-right: 3px;
}
.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

#aboutModal .modalContent{
     font-size: 1.5em;
}

#contactModal .modalContent{
     font-size: 3em;
}


#phone{
    position: absolute;
    bottom: 0;
    margin-top: -12.5%;
    x:0;
    y:0;
    width: 55em;
    pointer-events:none;
    left: 25%;
    right: 25%;
}

#phoneBackground{
    position: absolute;
    bottom: 0;
    x: 0;
    y: 0;
    width: 55em;
    margin-top: -50%;
    left: 25%;
    right: 25%;
}

.artContainer{
    height: 600px;
    overflow-y: scroll;
    margin-left: 100px;
    width: 900px;
    text-align: center;
}
#artTable img{
    width: 75%;
}
